@using Emos2.MVC.App_Start
<div class="logout">


    <a href="@Url.Action( RouteConstants.LogoutAction,RouteConstants.LogoutController)">
        <span class="fa fa-power-off"></span>
        Sign out
    </a>
</div>


