@using Emos2.MVC.Helpers
<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light main-menu container-fluid">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse page-wrap" id="navbarTogglerDemo03">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 container-fluid" id="menu">
                <li class="nav-item focus ">
                    <a class="nav-link" href="#">dashboard</a>
                </li>
                <li class="nav-item focus">
                    <a class="nav-link active1" href="#">events</a>
                </li>
                <li class="nav-item focus">
                    <a class="nav-link " href="../people/people.html">people</a>
                </li>
                <li class="nav-item focus">
                    <a class="nav-link " href="#">equipment</a>
                </li>
                <li class="nav-item focus">
                    <a class="nav-link " href="../timeline/timeline.html">timeline</a>
                </li>
                <li class="nav-item focus">
                    <a class="nav-link " href="#">messaging</a>
                </li>
            </ul>
        </div>
    </nav>
</div>